@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?kulzch");
  src: url("fonts/icomoon.eot?kulzch#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?kulzch") format("truetype"), url("fonts/icomoon.woff?kulzch") format("woff"), url("fonts/icomoon.svg?kulzch#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.cal-md,
.cal-hd,
.cal-title,
.cal-prev,
.cal-next,
.cal-bd,
.cal-week,
.cal-day,
.cal-dates,
.cal-date,
.cal-months,
.cal-month,
.cal-years,
.cal-year,
.cal-ft,
.cal-today {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.cal-hd,
.cal-ft {
  box-sizing: border-box;
  height: calc(100% / 9); }

.cal-prev,
.cal-next,
.cal-date,
.cal-day,
.cal-month,
.cal-year {
  text-align: center; }

.cal-prev,
.cal-next,
.cal-year,
.cal-month,
.cal-date,
.cal-day {
  float: left; }

.cal-title,
.cal-prev,
.cal-next,
.cal-year,
.cal-month,
.cal-date,
.cal-today,
.cal-time {
  cursor: pointer; }

.cal-md {
  background-color: #fff;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%; }

.cal-md,
.cal-switcher,
.cal-title,
.cal-prev,
.cal-next,
.cal-day,
.cal-today,
.cal-time,
.cal-months,
.cal-years,
.cal-ft-date,
.cal-ft-time {
  height: 100%; }

.cal-bd {
  height: calc((100% / 9) * 7); }

.cal-week {
  height: calc(100% / 7); }

.cal-dates {
  height: calc((100% / 7) * 6); }

.cal-day,
.cal-date {
  width: calc(100% / 7); }

.cal-date {
  height: calc(100% / 6); }

.cal-month,
.cal-year {
  height: 25%;
  width: 25%; }

.cal-md-without-footer .cal-bd {
  height: calc((100% / 8) * 7); }

.cal-title,
.cal-prev,
.cal-next,
.cal-day,
.cal-date,
.cal-month,
.cal-year,
.cal-today,
.cal-time {
  display: table; }

.cal-text {
  display: table-cell;
  vertical-align: middle; }

.cal-festival-text,
.cal-lunar-text {
  bottom: 0;
  color: #999;
  font-size: 12px;
  margin: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  z-index: 2; }

.cal-festival-text {
  color: #00c35a; }

.cal-hd {
  border-bottom: 1px solid #e9ebee; }

.cal-title {
  color: #666;
  font: normal 16px 'Arial', sans-serif;
  margin-right: 60px;
  padding-left: 10px; }
  .cal-title:hover {
    color: #34a6f8; }

.cal-switcher {
  font-size: 22px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 2; }

.cal-prev,
.cal-next {
  color: #999;
  width: 30px; }
  .cal-prev:hover,
  .cal-next:hover {
    background-color: #e8e8e8;
    color: #666; }

.cal-year,
.cal-month,
.cal-date {
  color: #312e2f; }
  .cal-year:hover,
  .cal-month:hover,
  .cal-date:hover {
    background-color: #e8e8e8;
    color: #333; }

.cal-year-prev,
.cal-year-next,
.cal-month-prev,
.cal-month-next,
.cal-date-prev,
.cal-date-next {
  background-color: #f8f8f8;
  color: #999; }
  .cal-year-prev:hover,
  .cal-year-next:hover,
  .cal-month-prev:hover,
  .cal-month-next:hover,
  .cal-date-prev:hover,
  .cal-date-next:hover {
    background-color: #e8e8e8;
    color: #666; }

.cal-weekend {
  color: #e24144; }
  .cal-weekend .cal-lunar-text {
    color: #e24144; }
  .cal-weekend:hover {
    color: #e24144; }

.cal-picked {
  background-color: #34a6f8;
  color: #fff;
  font-weight: bold; }
  .cal-picked:hover {
    background-color: #34a6f8;
    color: #fff; }
  .cal-picked .cal-festival-text,
  .cal-picked .cal-lunar-text {
    color: #fff; }
  .cal-picked.cal-current {
    background-color: #b0e16a; }
    .cal-picked.cal-current:hover {
      background-color: #b0e16a; }
    .cal-picked.cal-current .cal-festival-text,
    .cal-picked.cal-current .cal-lunar-text {
      color: #fff; }

.cal-picked-range {
  background-color: #e1f2fa;
  color: #34a6f8;
  font-weight: normal; }
  .cal-picked-range:hover {
    background-color: #e1f2fa;
    color: #34a6f8; }

.cal-current {
  background-color: #00c35a;
  color: #fff; }
  .cal-current:hover {
    background-color: #00c35a;
    color: #fff; }
  .cal-current .cal-festival-text,
  .cal-current .cal-lunar-text {
    color: #fff; }

.cal-ft {
  border-top: 1px solid #e9ebee;
  font-size: 13px; }

.cal-ft-date {
  margin-right: 70px;
  text-align: center; }

.cal-ft-time {
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  z-index: 2; }

.cal-today,
.cal-time {
  text-align: center; }
  .cal-today:hover,
  .cal-time:hover {
    color: #34a6f8; }

.cal-hidden {
  display: none; }
