body {
  overflow: hidden;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #57008a;
}

h1 {
  font-size: 12vw;
  font-weight: 400;
  color: #fff0;
  display: flex;
  width: 90%;
}

span {
  flex-basis: 100%;
}

span:not(.ws) {
  display: inline-block;
}